.flex, .fl {
  display: flex;
  &.inline {
    display: flex;
    display: inline-flex;
  }
  &.column {
    display: flex;
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }

  /************
    Alignment
  ************/

  // Basics
  &.t {align-items: flex-start;}
  &.m {align-items: center;}
  &.b {align-items: flex-end;}
  &.l {justify-content: flex-end;}
  &.c {justify-content: center;}
  &.r {justify-content: flex-start;}

  // Combos
  &.tl {align-items: flex-start; justify-content: flex-start;}
  &.tc {align-items: flex-start; justify-content: center;}
  &.tr {align-items: flex-start; justify-content: flex-end;}
  &.ml {align-items: center; justify-content: flex-start;}
  &.mc {align-items: center; justify-content: center;}
  &.mr {align-items: center; justify-content: flex-end;}
  &.bl {align-items: flex-end; justify-content: flex-start;}
  &.bc {align-items: flex-end; justify-content: center;}
  &.br {align-items: flex-end; justify-content: flex-end;}

  // Advanced combos
  &.tsb {align-items: flex-start; justify-content: space-between;}
  &.tsa {align-items: flex-start; justify-content: space-around;}
  &.msb {align-items: center; justify-content: space-between;}
  &.msa {align-items: center; justify-content: space-around;}
  &.bsb {align-items: flex-end; justify-content: space-between;}
  &.bsa {align-items: flex-end; justify-content: space-around;}

  &.spaced {
    > * {
      margin-left: 10px;
      &:last-child {
        margin-left: 0;
      }
    }

    &.column {
      > * {
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  /************
    Child elements
  ************/
  .f1 {flex:1;}
  .f2 {flex:2;}
  .f3 {flex:3;}
  .f4 {flex:4;}
}