.sf {
  display: flex;

  &.inline {
    display: inline-flex;
  }

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }


  /************
    Alignment
  ************/

  // Basics
  &.t {align-items: flex-start;}
  &.m {align-items: center;}
  &.b {align-items: flex-end;}
  &.l {justify-content: flex-end;}
  &.c {justify-content: center;}
  &.r {justify-content: flex-start;}

  // Combos
  &.tl {align-items: flex-start; justify-content: flex-start;}
  &.tc {align-items: flex-start; justify-content: center;}
  &.tr {align-items: flex-start; justify-content: flex-end;}
  &.ml {align-items: center; justify-content: flex-start;}
  &.mc {align-items: center; justify-content: center;}
  &.mr {align-items: center; justify-content: flex-end;}
  &.bl {align-items: flex-end; justify-content: flex-start;}
  &.bc {align-items: flex-end; justify-content: center;}
  &.br {align-items: flex-end; justify-content: flex-end;}

  // Advanced combos
  &.sb {justify-content: space-between;}
  &.sa {justify-content: space-around;}
  &.tsb {align-items: flex-start; justify-content: space-between;}
  &.tsa {align-items: flex-start; justify-content: space-around;}
  &.msb {align-items: center; justify-content: space-between;}
  &.msa {align-items: center; justify-content: space-around;}
  &.bsb {align-items: flex-end; justify-content: space-between;}
  &.bsa {align-items: flex-end; justify-content: space-around;}


  /************
    Spaced elements
  ************/

  &.spaced {
    > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }

    &.rtl {
      > * {
        margin-right: 0;
        margin-left: 10px;
        &:last-child {
          margin-left: 0;
        }
      }
    }

    &.column {
      > * {
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  /************
    columns
  ************/
  @for $i from 1 through 12 {
    .c#{$i} {
      flex: $i;
    }
  }
}